<header id="main-header">
    <div id="logo"><a href="/">Tasks</a></div>
    <nav>
        <ul>
            <li class="nav-item"><a href="/tasks">Browse Tasks</a></li>
            <li class="nav-item"><a href="/addtask">Add a Task</a></li>
            <li class="nav-item"><a href="/about">About Tasks</a></li>
        </ul>
    </nav>
    <button id="drawer-btn">
        <span></span>
        <span></span>
        <span></span>
    </button>
</header>