<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/side-drawer') %>
    <main>
      <h1>Become More Productive!</h1>
      <p>
        This website was born from the concept od dedication to make changes!
      </p>
      <p>
        With a little of organization for your tasks you will be able to change a lot!
        Keep track of your Tasks.
      </p>
    </main>
  </body>
</html>